  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" size="12" class="ion-padding">
        <app-search [countries]="countryResults" (selectCountry)="onCountrySelected($event)"></app-search>
      </ion-col>
      <ion-col size-sm="6" size="12" class="ion-padding">
        <ion-row>
          <app-history class="history"
            [selectionHistory]="selectionHistory"
            (selectCountryFromHistory)="onCountrySelectedFromHistory($event)"
          ></app-history>
        </ion-row>
        <ion-row>
          <app-details class="details" [selectedCountry]="selectedCountry"></app-details>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form [formGroup]="countryForm">
    <ion-item>
      <ion-label for="nameInput" position="stacked">Enter country name</ion-label>
      <ion-input ngDefaultControl
        type="text"
        placeholder="type at least three characters..."
        [formControl]="countryForm.controls['countryName']"
      ></ion-input>
    </ion-item>
  </form>