<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><span translate>Home</span></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="ion-padding selectedCountries">
          <p *ngIf="errorMessage">{{ errorMessage }}</p>
          <div *ngFor="let country of countryResult">
            <p (click)="selectCountry(country)">{{ country.name }} - {{ country.alpha2Code }}</p>
          </div>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-row>
          <app-history [selectionHistory]="selectionHistory"></app-history>
        </ion-row>
        <ion-row class="details">
          <app-details [selectedCountry]="selectedCountry"></app-details>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form [formGroup]="countryForm">
    <ion-item>
      <ion-label for="nameInput" position="stacked">Enter country name</ion-label>
      <ion-input
        type="text"
        id="nameInput"
        placeholder="Country name"
        [formControl]="countryForm.controls['countryName']"
      ></ion-input>
    </ion-item>
  </form>
</ion-content>
