<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><span translate>Home</span></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="ion-text-center">
    <ion-card-content>
      <ion-card-title>
        <span translate>Country results</span>
      </ion-card-title>
      <p *ngIf="errorMessage">{{ errorMessage }}</p>
      <p *ngFor="let country of countryResult">{{ country.name }} - {{ country.alpha2Code }}</p>
    </ion-card-content>
  </ion-card>
  <form [formGroup]="countryForm">
    <ion-item>
      <ion-label for="nameInput" position="stacked">Enter country name</ion-label>
      <ion-input
        type="text"
        id="nameInput"
        placeholder="Country name"
        [formControl]="countryForm.controls['countryName']"
      ></ion-input>
    </ion-item>
  </form>
</ion-content>
